<footer>
  <div id="footer">
    <div class="container">
      <p class="text-muted">&copy; Patrick Byrne. All rights reserved.</p>
    </div>
  </div>
</footer>
<div class="footer"></div>

{{ partial "js" . }}
