{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <div class="container">
        <div class="page-not-found">
          <h3>This page must be lost...</h3>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
