{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong></h3>
        <h3>Redhat Certified System Administrator and DevOps Developer</h3>
        <h3>Director of Monitoring Engineering at <a href="http://firstlight.net/">FirstLight Fiber</a></h3>
        <h3>Take a look at some of my favorite <a href="{{ .Site.BaseURL }}projects/">projects</a></h3>
        <h3>Or reach out to me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a></h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
